/* Here is a comment */

/* color requirements */
header{
  background-color: color-mix(in srgb, #baf 20%, grey);
  color: rgba(11, 100, 200, 0.3);
}
body{
  background-color: #ffffff;
  color:rgb(33,21,123);
}

main{
  background-color: hsl(0, 10%, 60%);
  color:black;
}


/* css variables and fallbacks */
footer{
  background-color: var(--main-color, #c35757);
}

/* examples of unit*/ 

footer{
  padding: 10px;
}
header{
  padding: 2em;
}
h1{
  font-size: 3vw;
}
section{
  margin-bottom: 1rem;
}
h2{
  padding: 1in;
}
h3{
  padding: 1cm;
}

/* TEXT Requirements*/
footer{
  color: black;
  text-decoration: underline;
  text-align: left;
}

/* pseudo-class */
button:hover{
  color: red;
}

button:active{
  background-color: blue;
}

/* third party font */
section{
  font-family: 'Platypi', cursive;
}

/* position */
.positioned{
  position: relative;
  left: 30px;
  right: 10px;
}

.audiobox{
  position:absolute;
}

/* display */
.inlinedisplay{
  display: inline;
}

.positioned{
  display: block;
}

/* size features for an element */
.positioned{
  height:100px;
  max-width:200px
}

.img-pos{
  width:400px;
  max-height:500px;
}